<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <style>
        h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
        body {font-family: "Open Sans"}
    </style>
    <title>Sober Up!</title>
    <!-- Add Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <!-- Add our project's CSS code -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Marker cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">

    <!-- Add Chroma JS Package -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.1/chroma.min.js"></script>

    <!-- Add Leaflet and D3.js scripts -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Marker cluster JavaScript code -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

     <!-- Bootstrap core JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <style>
        /* css to customize Leaflet default styles  */
        .popupCustom .leaflet-popup-tip,
        .popupCustom .leaflet-popup-content-wrapper {
            background: rgba(255,255,255,0.8);
            line-height: 18px;
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            color: #343131;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
    </style>  

</head>
<body>
    <header class="w3-container w3-center w3-padding-48 w3-white">
        <h1 class="w3-xxxlarge"><b>Sober Up!</b></h1>
        <h4>A Deep Dive Into America's <span class="w3-tag">Drinking Culture, Risks & Resources</span></h4>
    </header>
    <header class="w3-display-container w3-wide w3-gray" id="home">
        <div class="w3-container w3-twothird">
            <img class="w3-image" src="https://image.cnbcfm.com/api/v1/image/106342087-1579267202830gettyimages-542874313.jpeg?v=1579267318&w=929&h=523&vtcrop=y" alt="Prohibition" height="10%" margin-bottom="10px">
        </div>
        <div class="w3-container w3-third w3-gray">
            <h4>Project Summary</h4>
            <p>Placeholder Text</p>
        </div>
    </header>
    <!---Creating a spacer from header to body content-->
    <div class="w3-container w3-white">
        <h2> </h2>
        <h2> </h2>
    </div>
    <div class="w3-container w3-center">
        <h4>Test Container</h4>
    </div>
    <div class="w3-container w3-threequarter w3-padding-16">
        <div id="consumption_map" style="width: 100%; height: 400px;"></div>
    </div>
    <div class="w3-container w3-quarter w3-white">
        <h5>Summary Text</h5>
        <p>This is where explanation goes</p>
    </div>
    <div class="w3-container w3-threequarter">
        <div class="jumbotron" style="text-align:center">
          <img src="../images/Rehab.png" alt=" My Image" style="width:100%;" height="250">
          <div class="text-block text-center">
            <h2>Rehab Facilities Per State</h2>
            <h3>Use the interactive map below to get more information on available facilities</h3>
          </div>
        </div>
    </div>
    <div class="w3-container w3-threequarter ">
        <div id="rehab_map" style="width: 100%; height: 400px;"></div>
    </div>
    <div class="w3-container w3-white">
        <h2> </h2>
        <h2> </h2>
    </div>
    <div class="w3-container w3-third">
      <p>Find out what rehabilitation facilities exist in your state below!</p>
        <form action="/search_by_state" method="POST">
            <label for="state_input">Enter a State Name:</label>
            <input type="text" id="state_input" name="state_input" required>
            <input type="submit" value="Search">
        </form>
    </div>  
    <div class="w3-container w3-white">
        <h2> </h2>
        <h2> </h2>
    </div>
    <div class="w3-container w3-threequarter ">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dropdown Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <h2>Alcohol fatalities in 2022</h2>
    <p>Select a state</p>
    <select id="selDataset" onchange="optionChanged(this.value)"></select>

    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h3 style="text-align: center;">Age groups</h3>
                <div id="bar"></div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-6">  
                <h3 style="text-align: center;">Gender</h3>
                <div id="genderPie"></div>
            </div>
            <div class="col-xs-6">
                <h3 style="text-align: center;">Race</h3>  
                <div id="racePie"></div>
            </div>
        </div>
    </div>
    </div>

    <hr></hr>

<div class="w3-container w3-threequarter"><h2>Other Available Routes</h2></div>

<div id="tabs" class="w3-container w3-threequarter">	
<ul class="nav nav-tabs">
			<li class="active">
                <a  href="#1" data-toggle="tab">Alcohol Fatalities</a>
			</li>
			<li>
                <a href="#2" data-toggle="tab">Alcohol Consumption</a>
			</li>
			<li>
                <a href="#3" data-toggle="tab">Rehab Facilities</a>
			</li>
</ul>

			<div class="tab-content ">
			  <div class="tab-pane active" id="1">
                <a href="http://127.0.0.1:5000/fatalities"><h3>Alcohol-Related Fatalities for California, Texas & Florida</h3></a><br>
			  </div>
			  <div class="tab-pane" id="2">
                <a href="http://127.0.0.1:5000/consumption"><h3>Alcohol Consumption Across America</h3></a><br>
			  </div>
              <div class="tab-pane" id="3">
                <a href="http://127.0.0.1:5000/rehab_facilities"><h3>Rehab Facilities Across America</h3></a><br>
			  </div>
			</div>
<hr></hr>

   <!-- <div class="w3-container w3-center">
        <h4>Other Available Routes</h4>
        <a href="http://127.0.0.1:5000/fatalities">Alcohol-Related Fatalities for California, Texas & Florida</a><br>
        <a href="http://127.0.0.1:5000/consumption">Alcohol Consumption Across America</a><br>
        <a href="http://127.0.0.1:5000/rehab_facilities">Rehab Facilities Across America</a><br>
        <p><br></p> -->
    <!--</div> -->
    <!-- Add your main JavaScript code -->
    <script src="../static/js/logic_map.js"></script>
    <script src="../static/js/Rehab_logic.js"></script>
    <script src="../static/js/fatalities.js"></script>
</body>
</html>



