<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Using an open CSS stylesheet for W3 Schools-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <style>
        h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
        body {font-family: "Open Sans"}
    </style>
    <title>Sober Up!</title>
    <!-- Adding Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

    <!-- Using our own CSS file-->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Marker cluster CSS -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.5/dist/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.5/dist/MarkerCluster.Default.css">


    <!-- Add Leaflet and D3.js scripts -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Marker cluster JavaScript code -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.5/dist/leaflet.markercluster.js"></script>

    <!-- Bootstrap core JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <style>
        /* css to customize Leaflet default styles  */
        .popupCustom .leaflet-popup-tip,
        .popupCustom .leaflet-popup-content-wrapper {
            background: rgba(255,255,255,0.8);
            line-height: 18px;
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            color: #343131;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
    </style>  

</head>
<body>
    <!-- Styling the Body of our dashboard-->
    <header class="w3-container w3-center w3-padding-48 w3-white">
        <h1 class="w3-xxxlarge"><b>Sober Up!</b></h1>
        <h4>A Deep Dive Into America's <span class="w3-tag">Drinking Culture, Risks & Resources</span></h4>
    </header>
    <header class="w3-display-container w3-wide" id="home">
        <div class="w3-container">
            <img class="w3-image" src="https://image.cnbcfm.com/api/v1/image/106342087-1579267202830gettyimages-542874313.jpeg?v=1579267318&w=929&h=523&vtcrop=y" alt="Prohibition" height="10%" margin-bottom="10px">
        </div>
        <hr></hr>
        <div class="w3-container w3-light-gray">
            <h4>Project Summary</h4>
            <p> In 2022, it was found that around 63% of Americans regularly engage in drinking alcohol, be it socially or otherwise. Everyone needs a little Dutch courage once in a while! But how much is too much? This question began our research into America's drinking culture and how much of this negatively affected our population. Furthermore, are there enough resources out there to curb excessive drinking? In our project, we wanted to dig deeper into: <br>
                <br>
                <ul>
                    <li>How much alcohol Americans consumed in 2022.</li>
                    <li>The adverse effects of alcohol, and how many people have died due to alcohol-related causes.</li>
                    <li>What medical facilities are in place to assist with alcohol addiction.</li><br>
                </ul>
                <a href="https://extension.psu.edu/alcoholic-beverage-consumption-statistics-and-trends-2023#:~:text=When%20averaged%20over%20two%20years,legal%20drinking%20age%22%20of%2021.">source: Penn State Extension</a>
            </p>
        </div>
    </header>
    <hr></hr>
    <!---Creating a spacer from header to body content-->
    <div class="w3-container w3-white">
        <h2> </h2>
    </div>
    <!--Bootstrap Tabs-->
    <div class="container" style="height: 100vh; width:90%">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%; padding-left:15%">
            <div id="tabs" class="w3-container w3-threequarter">	
                <ul class="nav nav-tabs">
                        <li class="active">
                            <a  href="#1" data-toggle="tab">Alcohol Consumption</a>
                        </li>
                        <li>
                            <a href="#2" data-toggle="tab">Alcohol Fatalities</a>
                        </li>
                        <li>
                            <a href="#3" data-toggle="tab">Rehab Facilities</a>
                        </li>
                </ul>
            
                        <div class="tab-content ">
                            <div class="tab-pane active" id="1">
                                <!--a href="http://127.0.0.1:5000/consumption"><h3>Alcohol Consumption Across America</h3></a><br>-->
                                <div class="w3-container w3-threequarter w3-padding-16">
                                    <div id="consumption_map" style="width: 100%; height: 400px;"></div>
                                </div>
                                <div class="w3-container w3-quarter w3-white">
                                    <h5>Trends in Alcohol Consumption Across the US</h5>
                                    <p>States with the Highest Alcohol Consumption Per Capita<br>
                                        <ul>
                                            <li>New Hampshire - 59.5 gallons</li>
                                            <li>Vermont - 49.4 gallons</li>
                                            <li>Montana - 48.7 gallons</li>
                                        </ul><br>
                                        Contrary to size of state and it's respective population, it's interesting to see that New Hampshire (1.4m in population) is the highest when it comes to alcohol consumption. This suggests there could be other factors in play, such as the age distribution and/or race. <br>
                                        States with the Lowest Alcohol Consumption Per Capita<br>
                                        <ul>
                                            <li>Utah - 17.7 gallons</li>
                                            <li>Maryland - 25.4 gallons</li>
                                            <li>Idaho - 26.5 gallons</li>
                                        </ul>
                                    </p>

                                </div>
                            </div>
                            <div class="tab-pane" id="2">
                                <!--<a href="http://127.0.0.1:5000/fatalities"><h3>Alcohol-Related Fatalities for California, Texas & Florida</h3></a><br>-->
                                <div class="w3-container w3-padding-16 "> 
                                    <title>Dropdown Events</title>
                                    <h2>Alcohol fatalities in 2022</h2>
                                    <div class="w3-container">
                                        <img class="w3-image" style="height: 425px;" src="https://www.nicerx.com/wp-content/uploads/2022/10/NiceRx-Alcohol-Across-the-US_01-SOCIAL-HEADER-1500x794.jpg" alt="Prohibition" height="10%" margin-bottom="10px">
                                    </div>
                                    <div class="container w3-padding-large">
                                        <p>Select a state</p>
                                        <select id="selDataset" onchange="optionChanged(this.value)"></select>
                                    </div>    
                                    <div class="container">
                                        <div class="row">
                                            <div class="w3-twothird">
                                                <h3 style="text-align: center;">Age groups</h3>
                                                <div id="bar"></div>
                                            </div>
                                            <div class="w3-third" style="padding-left: 40px;padding-top: 20px;">
                                                <h4>Demographics of the top 3 states with highest death rate due to excess alcohol consumption</h4>
                                                <ol>
                                                    <li>California</li>
                                                        <ul>
                                                            <li>26-45 years ages with 77% of the entire population group</li>
                                                            <li>Male 61.4%</li>
                                                            <li>White 52.7%</li>
                                                        </ul><br>
                                                    <li>Florida</li>
                                                    <ul>
                                                        <li>26-60 years ages with 94% of the entire population group</li>
                                                        <li>Male 68.1%</li>
                                                        <li>White 69.1%</li>
                                                    </ul><br>
                                                    <li>Texas</li>
                                                    <ul>
                                                        <li>26-60 years ages with 80% of the entire population group</li>
                                                        <li>Male 68.7%</li>
                                                        <li>White 85.2%</li>
                                                    </ul>
                                                  </ol>              
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">  
                                                <h3 style="text-align: center;">Gender</h3>
                                                <div id="genderPie"></div>
                                            </div>
                                            <div class="col-xs-6">
                                                <h3 style="text-align: center;">Race</h3>  
                                                <div id="racePie"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="3">
                                <!--<a href="http://127.0.0.1:5000/rehab_facilities"><h3>Rehab Facilities Across America</h3></a><br>-->
                                    <div class="w3-container w3-wide w3-padding-16">
                                        <div class="jumbotron" style="text-align:center" height="400px">
                                            <img src="https://pulaskicounty.net/wp-content/uploads/2017/02/iStock-516394289.jpg" alt=" My Image" style="width:30%;" height="190">
                                            <div class="text-block text-center">
                                                <h2>Rehab Facilities Per State</h2>
                                                <h4>Use the interactive map below to get more information on available facilities</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="w3-container w3-wide w3-padding-16">
                                        <div id="rehab_map" style="width: 100%; height: 600px;"></div>
                                    </div>
                                <div class="w3-container w3-white">
                                    <h5>Rehabilitation Centers in the US</h5>
                                    <p>States with the Highest Number of Facilities Per Capita<br>
                                        <ul>
                                            <li>Alaska</li>
                                            <li>Montana</li>
                                            <li>Maine</li>
                                        </ul>
                                        States with the Lowest Number of Facilities Per Capita<br>
                                            <ul>
                                                <li>Texas</li>
                                                <li>Puerto Rico</li>
                                                <li>South Carolina</li>
                                            </ul>
                                        As mentioned earlier, Montana is also one of the top three states with the highest alcohol consumption rate per capita. Hampshire comes in number 19, and Vermont come in number nine.<br><br>
                                        Utah, which is one the states with the lowest alcohol consumption rate however, is among the top ten states with the highest number of rehab facilities per capita.<br><br>
                                        States with the most alcohol related death (California, Florida, and Texas) are among the fifteen states with the lowest number of rehab facilities per capita. Texas in particular has the least number of facilities per capita in the whole United States.
                                    </p>
                                </div>
                                <div class="w3-container">
                                    <h5>Find out what rehabilitation facilities exist in your state below!</h5>
                                    <form action="/search_by_state" method="POST">
                                        <label for="state_input">Enter a State Name:</label>
                                        <input type="text" id="state_input" name="state_input" required>
                                        <input type="submit" value="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Creating our API endpoints to attach to at the end of our dashboard-->
                <div class="w3-container w3-threequarter"><h3>Other Available Routes</h3>
                    <a href="http://127.0.0.1:5000/fatalities">Alcohol-Related Fatalities for California, Texas & Florida</a><br>
                    <a href="http://127.0.0.1:5000/consumption">Alcohol Consumption Across America</a><br>
                    <a href="http://127.0.0.1:5000/rehab_facilities">Rehab Facilities Across America</a>
                </div>
            </div>
        </div>    

        <!-- Adding our main JavaScript code for our visualizations -->
        <script src="../static/js/logic_map.js"></script>
        <script src="../static/js/Rehab_logic.js"></script>
        <script src="../static/js/fatalities.js"></script>
</body>
</html>



